html, body{
    padding:0; margin:0; height:100%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.imageBackground{
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
}
.left{float:left;}
.right{float:right;}
.hide{display:none;}


/*=====FONTS=====*/
.avenir_heavy{
    font-family:'Avenir'; font-weight: 900;
}
.avenir_regular{
    font-family:'Avenir'; font-weight: 300;
}
.avenir_medium{
    font-family:'Avenir'; font-weight: 500;
}
.avenir_black{
    font-family:'Avenir-bold'; font-weight:900;
}
.avenir_thin{
    font-family:'AvenirNext-UltraLight'; font-weight:300;
}
.charter{
    font-family:'Charter'; font-weight:normal; font-style:normal
}

/*=====GENERAL=====*/
.navbar.isSolid{
  background:#111 !important;
  position: relative !important;
  -webkit-transition: top 0s ease-in-out;
  -moz-transition: top 0s ease-in-out;
  -o-transition: top 0s ease-in-out;
  -ms-transition: top 0s ease-in-out;
  transition: top 0s ease-in-out;
}
button{
    width:auto; padding:0.5em 1em; background-color:#4C1F47; color:#fff; border-radius:3em; font-size:1em; text-align:center;
}
.inner{
    width:90%; max-width:70em; margin:auto;
}
.heading_container{
    width:100%;
}
h2{
    font-size:1.3em; font-family:'Avenir-medium'; font-weight:600;
}
.more_table{
    margin-top:1.8em; float:right; font-size:0.8em;
}

@media screen and (min-width:531px) and (max-width:1000px) {
    h2{
        font-size:1.2em;
    }
    .more_table{
        margin-top:2em; float:right;
    }
}

@media screen and (max-width:530px) {
    h2{
        font-size:1.2em;
    }
    .more_table{
        display:none;
    }
}

.header{
  width:100%;
  margin-top:0rem;
  height:17rem;
  background:#F9C747;
  overflow:hidden;
}
.content_container .inner{
  width:90%;
  max-width:60rem;
  margin:2rem auto;
}
h1{
  text-align:left;
  position:relative;
  margin-top:5rem;
  font-size:2rem;
}
h1:after{
  content:'';
  position:absolute;
  bottom:-0.8rem;
  left:0;
  width:3rem;
  height:0.1rem;
  border-bottom:1px solid #333;
}
h2{
  font-size:1.5rem;
  text-align:left;
  margin-top:3rem;
}
p{
  text-align:left;
  width:90%;
  max-width:50rem;
  margin:5rem auto 5rem 0;
  line-height:1.8rem;
  color:#555;
}
